################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

# Configurações secretas
/backend/UCLoan/appsettings.json

# Build output
bin/
obj/

# Visual Studio settings
*.user
*.suo
*.userosscache
*.sln.docstates

# VS cache folders
.vs/
